*{ margin: 0; padding: 0; }

.room-wrap { margin: 20px 10px; text-align: center; }
.room {
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:12px;
  font-weight: bold;
	border: 1px gray solid;
	background-color: /*#EAEAEA*/ white;
	color: black;
	border-radius:3px;
	width:80%;
	height:35px;
	line-height:35px;
  margin-top: 5px;
}

.room:active {
	position:relative;
	top:3px
}

.room:hover {
  cursor: pointer;
}

.logout-room {
	text-decoration:none;
	line-height:22px;
	border-radius:5px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:10px;
  font-weight: bold;
	color: white;
	background-color: black;
	width:60px;
	height:25px;
	border-color:#000000;
	border-width:2px;
	border-style:solid;
	margin: 0 10px 15px 0;
	float:right;
}

.logout-room:active {
	position:relative;
	top:3px
}

.logout-room:hover {
  cursor: pointer;
}
